ul{
    list-style-type: none;
}
.my-story-info >p.article-snippet{
    line-height: 1.6;
}
.my-story-info > h1 >a {
    color: rgb(66, 65, 65);
}
.my-story-info >a.read-more:hover{
    border: none;
    color: #fff;
    background-color: rgb(224, 95, 9);
}
.my-story-info >a.read-more{
    padding: 16px;
    border: solid 1px rgb(224, 95, 9);
}
.my-story-info > p.date-info-2{
    text-transform: uppercase;
}
@media screen and (min-width:1200px){
    .article-page{
        margin-top:30px;
    }
    .my-list-story{
        width: 75%;
        margin: auto;
    }
    li.my-list-item{
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 1em;
    }
    .my-story-info{
        padding: 40px;
    }
    .my-story-info{
        padding: 40px;
    }
    .my-story-info >p.article-snippet{
        line-height: 1.6;
    }
}
@media screen and (max-width:400px){
    .article-page{
        margin-top:30px;
    }
    .my-list-story{
        text-align: center;
    }
    .my-story-info{
        width: 90%;
        margin:auto;
        padding-top:30px;
        padding-bottom: 30px;
        margin-bottom: 40px;
    }
    .my-story-info >p.article-snippet{
        width: 80%;
        margin:auto;
        padding: 8px;
    }
}
@media screen and (min-width:400px) and (max-width:650px){
    .article-page{
        margin-top:30px;
    }
    .my-list-story{
        text-align: center;
    }
    .my-story-info{
        width: 90%;
        margin:auto;
        padding-top:30px;
        padding-bottom: 30px;
        margin-bottom: 40px;
    }
    .my-story-info >p.article-snippet{
        width: 80%;
        margin:auto;
        padding: 8px;
    }
}
@media screen and (min-width:650px) and (max-width:800px){
    .article-page{
        margin-top:30px;
    }
    .my-list-story{
        text-align: center;
    }
    .my-story-info{
        width: 90%;
        margin:auto;
        padding-top:30px;
        padding-bottom: 30px;
        margin-bottom: 40px;
    }
    .my-story-info >p.article-snippet{
        width: 80%;
        margin:auto;
        padding: 8px;
    }
}
@media screen and (min-width:800px) and (max-width:960px){
    .my-list-story{
        width: 90%;
        margin:auto;
    }
    li.my-list-item{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1em;
        height: 400px;
        margin-bottom: 30px;
    }
    .my-story-info{
        padding: 40px;
    }
}
@media screen and (min-width:960px) and (max-width:1080px){
    .my-list-story{
        width: 90%;
        margin:auto;
    }
    li.my-list-item{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1em;
        height: 400px;
        margin-bottom: 30px;
    }
    .my-story-info{
        padding: 40px;
    }
}
@media screen and (min-width:1080px) and (max-width:1200px){
    .my-list-story{
        width: 90%;
        margin:auto;
    }
    li.my-list-item{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1em;
        height: 400px;
        margin-bottom: 30px;
    }
    .my-story-info{
        padding: 40px;
    }
}