{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>judishile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'article_category.css' %}">
</head>
<body>
    <div class="header" id="header">
            <div class="socialmedia" id="socialmedia">
                <ul>
                <li><a href="http://"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
                <li><a href="http://"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                <li><a href="http://"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="heading" id="heading">
                <h1>Leshi</h1>
                <h2>Blog</h2>
            </div>
        </div>
        <div class="nav-2" id= "navTwo">
            <i class="fa fa-bars fa-2x menu-bar" aria-hidden="true" id="dropbtnnav"></i>
            <div class="navbar" id="navbar">
            <a href="#home" id="home">Home</a>
            <a href="#news" id="contact">Contact</a>
            <a href="#news" id="about">About</a>
            <div class="dropdown">
                <button class="dropbtn">Blog
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                <a href="/articles">Blog</a>
                <a href="#">Fasion</a>
                <a href="#">Music</a>
                <a href="#">Books</a>
                <a href="#">Revews</a>
                </div>
            </div> 
            </div>
        </div>
        <div class=" navbar-two" id="navbartwo">
            <a href="#home" id="hometwo">Home</a>
            <a href="#news" id="contacttwo">Contact</a>
            <a href="#news" id="abouttwo">About</a>
            <div class="dropdown">
            <button class="dropbtn">Blog
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/articles">Blog</a>
                <a href="#">Fasion</a>
                <a href="#">Music</a>
                <a href="#">Books</a>
                <a href="#">Revews</a>
            </div>
            </div> 
        </div>
    {%block content%}
    {%endblock%}
    <div class="footer">
        <h3>Judy Shile &copy; 2020</h3>
    </div>
    <script src="{% static 'main.js' %}" type="text/javascript"></script>
</body>
</html>